body{
	background:  transparent!important;
}

.masthead,.account-masthead{
	background: #1e7fb8 !important;
}

.account-masthead{
	border-bottom: solid 1px #000 ;
}

.site-footer{
	background: #1e7fb8 !important;
}

.homepage .module-search .module-content{
	background-color: #1e7fb8 !important;
}

.homepage .module-search .tags{

}

.hero,.main{
	background: #fff !important;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: #FF7C44!important;
}

.homepage .module-search .tags ,.media-overlay .media-heading{
    background-color: #00294F!important;
}

.btn-primary{
	background-color: #00294F!important;
	border-color: #00294F!important;
}

/*footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}*/