	
	{% extends "page.html" %}

	{% block breadcrumb_content %}
  		<li class="active">{% link_for _('Elections'), 'elections.index' %}</li>
	{% endblock %}

	{% block primary %}
		
		<div class="row">
			<aside class="secondary col-sm-3">

			</aside>

			<div class="primary col-sm-9 col-xs-12" role="main">

				<article class="module">
				    <div class="module-content">
				    	<h1 class="page-heading">{% trans %}Elections{% endtrans %}</h1>
				    	<p>
				    		{% trans %}
					    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, tellus sit amet tincidunt sollicitudin, sem massa vestibulum augue, vitae laoreet leo eros non lorem. Maecenas a erat in odio tempor iaculis eget in ex. Sed gravida velit eget orci consequat finibus. Nullam viverra mollis aliquet. Aliquam erat volutpat. Sed bibendum quam et mauris semper, sed vehicula odio cursus. Quisque mattis lacus vel mi euismod, vel porttitor lectus fringilla. Ut volutpat purus id viverra finibus. Pellentesque quis fringilla nisi. Suspendisse sit amet fermentum augue. Suspendisse eget elit ac dolor porttitor accumsan at vitae dui. Morbi aliquam, purus non dapibus consectetur, nulla mauris interdum risus, quis tincidunt leo ex sit amet nulla. {% endtrans %}</p>
				    </div>
				 </article>
			</div>
		</div>

	{% endblock %}
