	
	{% extends "page.html" %}

	{% block breadcrumb_content %}
  		<li class="active">{% link_for _('About'), 'home.about' %}</li>
	{% endblock %}

	{% block primary %}
		
		<div class="row">
			<aside class="secondary col-sm-3">

			</aside>

			<div class="primary col-sm-9 col-xs-12" role="main">

				<article class="module">
				    <div class="module-content">
				    	<h1 class="page-heading">{% trans %}About CKAN CSU{% endtrans %}</h1>
				    	<p>
				    		{% trans %}
					    	To fulfil IARC’s mandates from WHO to describe the occurrence of cancer, the Cancer Surveillance Branch (CSU) systematically collects, analyses, interprets, and disseminates cancer data and statistics worldwide. CSU builds on its long-standing expertise and track record in cancer registration and descriptive epidemiology, aligning its activities with the evolving global cancer agenda. The key priorities align with IARC’s mission and vision: {% endtrans %}</p>
					    <p>
					    	<ul>
								<li>To ensure that locally recorded high-quality cancer data are available to governments in countries in transition, to inform priorities for national cancer control.</li>
								<li>To serve as a reference to the global cancer community in the provision of national cancer indicators.</li>
								<li>To describe and interpret the changing magnitude and the transitional nature of cancer risk profiles around the world.</li>
								<li>To advocate the health, social, and economic benefits of preventive interventions, through a systematic quantification of their future impact.</li>
								<li>CSU informs global, regional, and national priorities for cancer control action via dedicated programmes of work in six complementary areas.</li>
							</ul>
					    </p>
				    </div>
				 </article>
			</div>
		</div>

	{% endblock %}
